*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none ;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding :50px 0 ;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff, #A2D231);
}
.header.row{
	margin-top: 70px;
}
.categories{
	margin: 70px 0;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

}
h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: #ff523b;
}
.col-4:hover{
	transform: translateY(-5px);
}
/*---------------------------------------------------section--------------------------------------------*/
section h3{
	font-size: 35px;font-weight: 200; letter-spacing: 3px;
   text-shadow: 1px 1px 2px black;
}

section h1{
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}
section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;

}
section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all,5s ease;

}
section .btnone{
	/*background: #00b894;*/
	background: #fff;
	color: #000;
}

.btnone:hover{
	background: #00b894;
	color: #000;
}
section .btntwo{
	background: #00b894;
	color: #000;
}

.btntwo:hover{
	background: #fff;
	color: #000;
}

.change_content:after{
   content: '';
   animation:changetext 10s infinite linear;
   color: #00b894;
}
@keyframes changetext{
	0%{content: "No-chemical";}
	25%{content: "Pure natural";}
	50%{content: "Best price";}
	75%{content: "Free delivery";}
	/*80%{content: "";}
	100%{content: "";}*/
}

/*-----------------------------offer------------------------------------------*/
.offer{
	background: radial-gradient(#fff, #A2D231);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 50px;
}
small{
	color: #555;
}
/*---------------------------testmonial------------------------------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);/*it will add shadow to each column like a box*/
    cursor: pointer;/*it convert cursor to shape pointer when moving cursor over testimonials*/
    transition: transform 0.5s;/*for hover effect*/
}
.testimonial .col-3 img{/*for the images of testimonials*/
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;

}
.testimonial .col-3:hover{
    transform: translateY(-10px)/*hover effect to each column*/
}
/*designing quote section*/
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;/*color of quote icon*/
}
.col-3 p{/*modify p of testimonials*/
    font-size:12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------------------------------brand--------------------------------------*/
.brands{
	margin: 100px auto;
}
.col-5{
	width: 160px;
}
.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover{
	filter: grayscale(0%);
}
/*-------------------------------footer--------------------------------------*/
.footer{
	background: black;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: fff;
	margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
} 
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 30%;
	text-align: center;
}
.footer-col-2 img{
	width: 120px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;

}
.app-logo{
	margin-top: 20px;

}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0px;
}
.copyright{
	text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*------------------------------------------------------media query for menu-------------------------------------------*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
/*-------------------------------------------------all product page--------------------------------------*/
.row-2{
	justify-content: space-between;
	margin: 10px auto 50px;
}
select{
	border: 1px solid #ff523b;
	padding: 5px;

}
select:focus{
	outline: none;
}
.page-btn{
	margin: 0 auto 80px;
}
.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background: #ff523b;
	color: white;
}
/*-----------------------------------------------------account page----------------------------------------*/
.header{
    padding: 50px 0;
    background: radial-gradient(#fff, #A2D231);

}
.form-container{/* in account page first column, we place an image, and in second coloumn we place form having following specs*/
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position:absolute;
    top: 130px;
    transition: transform 1s;

}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0; 
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
     
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*----------------------------------------------------------------cart page-------------------------------------------------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;/*takes full width of the web page*/
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    ffont-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
td small{
    padding-left: 0px;
    margin-left: 0px;
}

.total-price{
    display: flex;
    justify-content: flex-end;/*put content with max width at the end, if flex start, then put content at start with max width as we mentioned max width below*/
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 480px;
}
td:last-child{
    text-align: right;/*align all last column values to right, in our case, these are prices*/
}
th:last-child{
    text-align: right;
}
/*-----------------------------------------contact-us page--------------------------------------------*/
/*.contact-page{
	background: lightgrey;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
	text-align: center;
	display: block;
	flex: 1;
*/}
form {
	background-color: #ECECEC;
	padding: 30px 40px;
}

.hidden-label {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}

input,
select {
	font-family: Tahoma, sans-serif;
	font-size: 100%;
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
	height: 40px;
	margin-bottom: 15px;
	border: 1px solid #CDCDCD;
	outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
	border: 1px solid #869960;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	background-color: #869960;
	color: #FFF;
	padding: 10px 0;
	border: 1px solid #798A56;
	border-radius: 3px;
	outline: none;
	margin-bottom: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: 1px solid #535E3B;
	background-color: #798A56;
}

.checkbox-text {
	font-size: 85%;
	color: #777;
}
/*---------------------------------single product detail-------------------------------------------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
    text-align: left;
}

.single-product select{/*styling size dropdown*/
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold; 

}

.single-product input{/*style no of products input*/
    width: 50px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{/*styling icon with product details h3*/
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display:flex;/*make all 4 images flexible*/
    justify-content: space-between;/*this will make all 4 images to take equal available space in single line without any gap, mean 25% each col, and to place gap between each col, we call col below and made 24% so to have a gap*/
}
.small-img-col{
    flex-basis: 24%;/*this will make each column to take 24% space and 1% gap*/
}
.single-product .col-2 p{
    margin-left: 0px;
}

#more{
	display: none;
}


/*-----------------------------media query for less than 600 screen---------------------------------*/
@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}
}
